title: Franzininho
email: your-email@example.com
description:
baseurl: ""
url: 
twitter_username: jekyllrb
github_username:  jekyll

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
