<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('{{ site.baseurl }}/{% if page.slide1 %}{{ page.slide1 }}{% else %}{{ site.slide1 }}{% endif %}')">
            <div class="container ontainer">
                <div class="carousel-caption text-center">
                    <h1>Projeto Franzininho</h1>
                    <p>O projeto Franzininho tem o objetivo de incentivar
                        as pessoas na tecnologia através da cultura maker e o
                        faça você mesmo.
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('{{ site.baseurl }}/{% if page.slide2 %}{{ page.slide2 }}{% else %}{{ site.slide2 }}{% endif %}')">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Open Hardware</h1>
                    <p> Com placas e documentações abertas, incentivamos o
                        compartilhamento de conhecimento através da comunidade
                        e construção de projetos. </p>
                </div>
            </div>
        </div>
    </div>
</div>
