<footer class="py-5  border-top">
  <div class="row">
    <div class="col-12 col-md">
        <p>LOGO</p>
      <small class="d-block mb-3 text-muted">&copy; 2019</small>
    </div>
    <div class="col-6 col-md">
      <h5>Projetos</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://wikifactory.com/+franzininho/franzboy">FranzBoy</a></li>
        <li><a class="text-muted" href="https://wikifactory.com/+franzininho/franzmakey">FranzMakey</a></li>
        <li><a class="text-muted" href="https://wikifactory.com/+franzininho/fanzininho-tiny">Fanzininho Tiny</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Redes sociais</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="http://www.instagram.com.br/franzininho">Instagram</a></li>
        <li><a class="text-muted" href="https://github.com/Franzininho">GitHub</a></li>
      </ul>
    </div>
  </div>
</footer>

<script src="{{ "/assets/bootstrap/js/jquery-3.4.1.min.js" | site.baseurl }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="{{ "/assets/bootstrap/js/bootstrap.min.js" | site.baseurl}}"></script>
<script src="{{ "/assets/js/franzininho.js" | site.baseurl}}"></script>
<script src="{{ "/assets/js/test.js" | site.baseurl }}"></script>
