<form class="form-inline mb-3"action="https://franzininho.us19.list-manage.com/subscribe/post?u=7ad9e46000496af8e6abb047b&amp;id=91677bbea5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <div>
    <input type="email" value="" name="EMAIL" class="form-control newsletter-input" placeholder="Digite seu e-mail" required>
    <input type="submit" value="Subscribe" name="subscribe"class="btn btn-success">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_7ad9e46000496af8e6abb047b_91677bbea5" tabindex="-1" value="">
    </div>
    </div>
</form>
