@import "components/nav";
@import "components/carousel";
@import "components/project";
@import "components/contact";
@import "components/footer";


/* margem dos titulos */
.title-margin {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media (max-width: 425px) {
  .lead {
    font-size: 1rem;
    line-height: 1.5;
  }
}
