/* fonte */
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,700&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Comfortaa', cursive;
}

a{
    color: #303030;
}

footer{
    background-color: #161616;
    padding: 100px;
}

a:hover{
    color: #327a46;
    text-decoration: none;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 80vh;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* personalizado navbar  */
.navbar-light .navbar-brand {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 10px;
}
/*cor do nome do menu*/
.navbar-light .navbar-nav .nav-link{
    color: white;
    margin-left:1rem;
    position: relative;
}

/*barrar do hover do menu*/
.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 250ms ease-in;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav
.nav-link:hover{
    color:white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav
.nav-link:hover::after{
    transform: scaleX(1);
    color:white;
}


/* classe menu aparece */
.nav-scrolled {
    background-color: #2c8240;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.navbar-light .navbar-brand:hover{
    color: #cecece;
}

/* card hover */
.card-img-top:hover{
    transition: all .5s ease;
    opacity: 0.7;
}

.title-footer{
    color: #2c8240;
}

.intro-header{
    display: flex;
    align-items: center;
    background-size: cover;
    height: 50vh;
    padding-top: 3rem;
    color: white;
    text-align: center;
}
.intro-heade-post{
    display: flex;
    align-items: center;
    background-color: #1E1E1E;
    padding-top: 4rem;
    height: 70vh;
    color: white;
    text-align: center;
}

.text-space{
    padding: 5rem 9rem 5rem 9rem;
}


.width-page{
    margin-top: 50px;
    margin-left: 12rem;
    margin-bottom: 2rem;
}

.apoiadores{
    background-color: #EFEFEF;
    padding: 2rem 0 6rem 0;
}

.apoiadores h1{
    font-weight: bold;
}
.img-apoiadores{
    width: 100%;
    margin-bottom: 20px;
}
.logo-header{
    visibility: visible;
}
#projeto{
    background-color: #e8e8e8;
    padding-top: 5px;
    padding-bottom: 40px;
}

#projeto h1{
    letter-spacing: 10px;
    color: white;
}
.divider{
    max-width: 6rem;
    border-width: .2rem;
    border-color: #2c8240;
}

.card-deck .card{
    border:none;
}
#slide1{
    background-position: center;
    background-size: cover;
    width: 100%;
}

#slide2{
    background-size: cover;
    width: 100%;
}

#contato{
    padding: 2rem 0 6rem 0;
}

#contato h1{
    letter-spacing: 10px;
    font-weight: bold;
}

#contato ul li{
    list-style: none;
}

#contato ul li i{
    margin-right: 10px;
}

#sobre{
    padding: 2rem 0 6rem 0;
}

#sobre h1{
    letter-spacing: 10px;
    font-weight: bold;
}

#projeto{
    background-color: #38423B;
    padding: 2rem 0 6rem 0;
}

#projeto h1{
    font-weight: bold;
}
.newsletter-input{
    margin: 10px;
}
.newsletter{
    font-weight: bold;
    background-image: url(/img/franzininho-slide-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 4rem 0 4rem 0;
}
.newsletter-title{
    font-weight: bold;
}
.form-inline{
    justify-content: center;
}

@media (max-width: 425px){
    .lead{
        font-size: 1rem;
        line-height: 1.5;
    }
    footer{
        padding: 30px;
    }
    .intro-heade-post{
        padding-top: 6rem;
    }
    .carousel-caption{
        bottom: 3rem;
        text-align: left;
    }
    .width-page{
        margin-left: 0px;
    }
    .logo-header{
        visibility: hidden;
    }
    .navbar-light .navbar-brand{
        margin-left: -35px;
    }
    .text-space{
        padding: 5rem 1rem 5rem 1rem;
    }
}

@media (max-width: 360px){
    .navbar-light .navbar-brand{
        margin-left: -54px;
    }
}
