---
layout: default
---
<section id="sobre">
    <div class="container">
        <h1 class="title-margin">Sobre</h1>
        <div class="row featurette">
            <div class="col-md-6 order-md-2">
                <p class="lead">Franzininho incentiva o empoderamento
                    das pessoas através da tecnologia. Através de atividades e
                    projetos, promovemos o aprendizado de eletrônica e programação. <br>
                    Engajamos crianças à adultos com materiais e aulas que estimulam a
                    criatividade e o “Faça você mesmo - DIY” e pensamento computacional. <br>
                        Ao final de cada atividade Franzininho o participante sairá com a sensação de “Eu
                    posso”. Com o conhecimento adquirido ele estará apto ao próximo passo em seu desenvolvimento.

                </p>
            </div>
            <div class="col-md-6 order-md-1">
                <img class="img-fluid img-thumbnail" src="img/sobre.jpg" alt="">
            </div>
        </div>
    </div>
</section>


<section id="projeto">
    <div class="container">
        <h1 class="title-margin">Projetos</h1>
        <div class="card-deck">
            <div class="card">
                <a href="https://wikifactory.com/+franzininho/franzboy" target="_blank">
                    <img src="img/franboy.png" class="card-img-top" alt="franzininho2.jpg">
                </a>
                <div class="card-body">
                    <h5 class="card-title">FranzBoy</h5>
                    <p class="card-text">
                        A placa FranBoy vem para integrar a família de placas
                        Franzininho. Com o formato de game procura incentivar o
                        desenvolvimento de jogos, e hacks diversos com eletrônica.
                    </p>
                </div>
            </div>
            <div class="card">
                <a href="https://wikifactory.com/+franzininho/franzmakey" target="_blank">
                    <img src="img/franzmakey.jpg" class="card-img-top" alt="franzininho2.jpg">
                </a>
                <div class="card-body">
                    <h5 class="card-title">FranzMakey</h5>
                    <p class="card-text">
                        FranzMakey é uma placa compatível com o Makey Makey que
                        tem o objetivo de possibilitar a interação com o
                        computador através de objetos inusitados, como, frutas,
                        legumes, etc.
                    </p>
                </div>
            </div>
            <div class="card">
                <a href="https://wikifactory.com/+franzininho/fanzininho-tiny" target="_blank">
                    <img src="img/fanzininho-tiny.jpg" class="card-img-top" alt="franzininho2.jpg">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Fanzininho Tiny</h5>
                    <p class="card-text">
                        Franzininho Tiny é uma pequena placa para aplicações
                        com o microcontrolador ATtiny841.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contato">
    <div class="container">
        <h1 class="title-margin">Contato</h1>
        <form>
            <div class="row">
                <div class="col-md-6 col-sm-1">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="col-md-6 col-sm-1">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Texto</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>



<!-- <div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
</div> -->
